force-app/main/default/flows/ACR_Send_Sub_Member_Activation_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Encrypt_Contact_Id</name>
        <label>Encrypt Contact Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EncryptActivationContactId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Account_Membership</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>Get_Contact_Details.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EncryptActivationContactId</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Membership_Activation_Email</name>
        <label>Send Membership Activation Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Get_Contact_Details.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>membership@mainstreet.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You’ve Been Added as an Organizational Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;{!emailBodyContent}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Account_Membership</name>
        <label>Check Account Membership</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_and_Membership_Details.Is_Membership_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Bounced_Email</targetReference>
            </connector>
            <label>Active Membership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Bounced_Email</name>
        <label>Check  Bounced Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_bounced_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Details.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Membership_Activation_Email</targetReference>
            </connector>
            <label>Not bounced Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Prior_Values</name>
        <label>Check Prior Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_and_Membership_Details</targetReference>
            </connector>
            <label>Yes, Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>activationLink</name>
        <dataType>String</dataType>
        <expression>&quot;https://members.msa.preview.rygn.io/membership/activate?memberId=&quot; &amp; {!Encrypt_Contact_Id.encryptedContactId}</expression>
    </formulas>
    <interviewLabel>ACR - Send Sub Member Activation Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACR - Send Sub Member Activation Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_and_Membership_Details</name>
        <label>Get Account and Membership Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encrypt_Contact_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Prior_Values</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR 3</filterLogic>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sub-Member</stringValue>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBodyContent</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;margin: 0 auto; width: 100%; max-width: 600px; background-color: #ffffff; font-size: 14px; color: #333333; border-spacing: 0; border-radius: 8px; overflow: hidden;&quot; width=&quot;100%&quot;&gt;
	&lt;tbody&gt;
		&lt;tr&gt;
			&lt;td style=&quot;padding: 20px; background-color: #ffffff; text-align: center;&quot;&gt;&lt;a href=&quot;https://www.mainstreet.org/&quot;&gt;&lt;img alt=&quot;Main Street America Logo&quot; src=&quot;https://cdn.mainstreet.org/logos/msa-logo.png&quot; style=&quot;max-width: 200px; border: 0;&quot; width=&quot;200&quot;/&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;td class=&quot;content&quot; style=&quot;padding: 30px 40px; text-align: left;&quot;&gt;

			&lt;p style=&quot;line-height: 1.6; margin: 0 0 20px 0;&quot;&gt;Hi {!Get_Contact_Details.FirstName},&lt;/p&gt;

			&lt;p&gt;You’ve been added as an organizational contact for {!Get_Account_and_Membership_Details.Name}. This means you have full access to MSA member benefits! We’re excited to bring you valuable resources, learning experiences, and networking opportunities that make your job easier and maximize your impact in your community.&amp;nbsp;&lt;/p&gt;

			&lt;p&gt;&lt;strong&gt;What&apos;s next? &amp;nbsp;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;First, finish setting up your &lt;a href=&quot;{!activationLink}&quot;&gt;Member Hub&lt;/a&gt; account. From there, you can...  &amp;nbsp;&lt;/p&gt;
			&lt;ul&gt;&lt;li&gt;Participate in discussion forums with your peers. &lt;/li&gt;&lt;li&gt;Visit the &lt;a href=&quot;https://mainstreet.org/resources/knowledge-hub&quot;&gt;Knowledge Hub&lt;/a&gt;, our comprehensive digital library containing a broad range of resources, including our signature Main Street Approach handbooks.&lt;/li&gt;&lt;li&gt;Take your skills to the next level at the &lt;a href=&quot;https://mainstreet.org/resources/main-street-america-academy&quot;&gt;Main Street America Academy&lt;/a&gt;.&lt;/li&gt;&lt;/ul&gt;

&lt;p&gt;Keep an eye out for Main Street Weekly, our members-only newsletter featuring our latest stories and how-to articles, events and opportunities, and important announcements. &lt;/p&gt;
			Questions? Don&apos;t hesitate to &lt;a href=&quot;https://mainstreet.org/about/contact-us&quot;&gt;contact us&lt;/a&gt;.&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;td class=&quot;footer&quot; style=&quot;background-color: #333333; color: #bbbbbb; padding: 20px 40px; text-align: center; font-size: 12px;&quot;&gt;
			&lt;p style=&quot;line-height: 1.6; margin: 0 0 10px 0;&quot;&gt;Main Street America&lt;br&gt;
			53 W. Jackson Blvd., Suite 350, Chicago, IL 60604&lt;/p&gt;

			&lt;p style=&quot;line-height: 1.6; margin: 0;&quot;&gt;&lt;a href=&quot;https://members.msa.preview.rygn.io/my-account/settings&quot; style=&quot;color: #ffffff; text-decoration: underline;&quot;&gt;Update Subscription Preferences&lt;/a&gt; | &lt;a href=&quot;https://mainstreet.org/about/contact-us&quot; style=&quot;color: #ffffff; text-decoration: underline;&quot;&gt;Contact Us&lt;/a&gt;&lt;/p&gt;
			&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>primaryContactEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;margin: 0 auto; width: 100%; max-width: 600px; background-color: #ffffff; font-size: 14px; color: #333333; border-spacing: 0; border-radius: 8px; overflow: hidden;&quot; width=&quot;100%&quot;&gt;
	&lt;tbody&gt;
		&lt;tr&gt;
			&lt;td style=&quot;padding: 20px; background-color: #ffffff; text-align: center;&quot;&gt;&lt;a href=&quot;https://www.mainstreet.org/&quot;&gt;&lt;img alt=&quot;Main Street America Logo&quot; src=&quot;https://cdn.mainstreet.org/logos/msa-logo.png&quot; style=&quot;max-width: 200px; border: 0;&quot; width=&quot;200&quot;/&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;td class=&quot;content&quot; style=&quot;padding: 30px 40px; text-align: left;&quot;&gt;

			&lt;p style=&quot;line-height: 1.6; margin: 0 0 20px 0;&quot;&gt;Hi {!b6f7a3dd-b747-4c48-9c6e-4a20a6265612.FirstName},&lt;/p&gt;

			&lt;p&gt;You’ve been added as a Primary Contact for {!285a3fa7-9971-4370-bde6-6c9ef09416f5.Name}. This means you have full access to MSA member benefits! We’re excited to bring you valuable resources, learning experiences, and networking opportunities that make your job easier and maximize your impact in your community.&amp;nbsp;&lt;/p&gt;

			&lt;p&gt;&lt;strong&gt;What&apos;s next? &amp;nbsp;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;First, finish setting up your &lt;a href=&quot;{!activationLink}&quot;&gt;Member Hub&lt;/a&gt; account. From there, you can...  &amp;nbsp;&lt;/p&gt;
			&lt;ul&gt;&lt;li&gt;Participate in discussion forums with your peers. &lt;/li&gt;&lt;li&gt;Visit the &lt;a href=&quot;https://mainstreet.org/resources/knowledge-hub&quot;&gt;Knowledge Hub&lt;/a&gt;, our comprehensive digital library containing a broad range of resources, including our signature Main Street Approach handbooks.&lt;/li&gt;&lt;li&gt;Take your skills to the next level at the &lt;a href=&quot;https://mainstreet.org/resources/main-street-america-academy&quot;&gt;Main Street America Academy&lt;/a&gt;.&lt;/li&gt;&lt;/ul&gt;

&lt;p&gt;Keep an eye out for Main Street Weekly, our members-only newsletter featuring our latest stories and how-to articles, events and opportunities, and important announcements. &lt;/p&gt;
			Questions? Don&apos;t hesitate to &lt;a href=&quot;https://mainstreet.org/about/contact-us&quot;&gt;contact us&lt;/a&gt;.&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;td class=&quot;footer&quot; style=&quot;background-color: #333333; color: #bbbbbb; padding: 20px 40px; text-align: center; font-size: 12px;&quot;&gt;
			&lt;p style=&quot;line-height: 1.6; margin: 0 0 10px 0;&quot;&gt;Main Street America&lt;br&gt;
			53 W. Jackson Blvd., Suite 350, Chicago, IL 60604&lt;/p&gt;

			&lt;p style=&quot;line-height: 1.6; margin: 0;&quot;&gt;&lt;a href=&quot;https://members.msa.preview.rygn.io/my-account/settings&quot; style=&quot;color: #ffffff; text-decoration: underline;&quot;&gt;Update Subscription Preferences&lt;/a&gt; | &lt;a href=&quot;https://mainstreet.org/about/contact-us&quot; style=&quot;color: #ffffff; text-decoration: underline;&quot;&gt;Contact Us&lt;/a&gt;&lt;/p&gt;
			&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
