force-app/main/default/flows/Assign_Transaction_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Transaction_Name_Value</name>
        <label>Assign Transaction Name Value</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>vMembershipType</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Related_Membership__r.Membership_Type__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OriginalAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEnrollmentType</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Related_Membership__r.EnrollmentType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vChangeType</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Related_Membership__r.Membership_Change_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Transaction_Name_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Transaction_Name_Value</name>
        <label>Copy 1 of Assign Transaction Name Value</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Transaction_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTransactionName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>fTransactionName</name>
        <dataType>String</dataType>
        <expression>{!vMembershipType} &amp; &quot;-&quot; &amp; &quot;$&quot; &amp; {!vAmount} &amp; &quot;-&quot; &amp; {!vEnrollmentType} &amp; &quot; &quot; &amp; {!vChangeType}</expression>
    </formulas>
    <interviewLabel>Assign Transaction Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Transaction Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Transaction_Name_Value</targetReference>
        </connector>
        <object>Membership_Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vChangeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEnrollmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMembershipType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
