force-app/main/default/flows/Closed_Membership_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_CP_Term_Start</name>
        <label>assign CP Term Start</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newTermStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_cpStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Program_Relationship_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enrollment_Type_JOIN</name>
        <label>Enrollment Type JOIN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEnrollmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JOIN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTermStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_CP_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enrollment_Type_RE_JOIN</name>
        <label>Enrollment Type RE-JOIN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEnrollmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>REJOIN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTermStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_CP_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enrollment_Type_RENEW</name>
        <label>Enrollment Type RENEW</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEnrollmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RENEW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTermStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_NextDayAfterExpiry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_CP_Account</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AlliedMemberJoin</name>
        <choiceText>$525 Allied Member Join</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>Allied Member Join</promptText>
        </userInput>
    </choices>
    <choices>
        <name>BoardMember</name>
        <choiceText>Board Member</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>Board Member</promptText>
        </userInput>
    </choices>
    <choices>
        <name>CAMSAMember</name>
        <choiceText>CAMSA Member</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>CAMSA Member</promptText>
        </userInput>
    </choices>
    <choices>
        <name>CoordinatingProgramMemberJoin</name>
        <choiceText>Coordinating Program Member Join $4,550</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>Coordinating Program Member Join</promptText>
        </userInput>
    </choices>
    <choices>
        <name>DAY</name>
        <choiceText>DAY</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DAY</stringValue>
        </value>
    </choices>
    <choices>
        <name>FriendofMainStreet</name>
        <choiceText>Friend of Main Street</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>Friend of Main Street</promptText>
        </userInput>
    </choices>
    <choices>
        <name>JOIN</name>
        <choiceText>JOIN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>JOIN</stringValue>
        </value>
    </choices>
    <choices>
        <name>MAINST</name>
        <choiceText>MAINST 01/2010</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>MAINST 01/2010</promptText>
        </userInput>
    </choices>
    <choices>
        <name>MainStreetActiveTownJoin</name>
        <choiceText>Main Street Active Town Join</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>Main Street Active Town Join</promptText>
        </userInput>
    </choices>
    <choices>
        <name>MainStreetAmericaCommunityMemberJoin</name>
        <choiceText>Main Street America Community Member Join $375</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>Main Street America Community Member Join</promptText>
        </userInput>
    </choices>
    <choices>
        <name>MONTH</name>
        <choiceText>MONTH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MONTH</stringValue>
        </value>
    </choices>
    <choices>
        <name>NMSCGENRALINQUIRIES</name>
        <choiceText>NMSC GENRAL INQUIRIES 1986</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>NMSC GENRAL INQUIRIES 1986</promptText>
        </userInput>
    </choices>
    <choices>
        <name>NMSCRenewalthroughForum</name>
        <choiceText>NMSC Renewal through Forum</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>NMSC Renewal through Forum</promptText>
        </userInput>
    </choices>
    <choices>
        <name>Paid_By_Coordinating_Program</name>
        <choiceText>Paid By Coordinating Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paid By Coordinating Program</stringValue>
        </value>
    </choices>
    <choices>
        <name>REJOIN</name>
        <choiceText>REJOIN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>REJOIN</stringValue>
        </value>
    </choices>
    <choices>
        <name>RENEW</name>
        <choiceText>RENEW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RENEW</stringValue>
        </value>
    </choices>
    <choices>
        <name>Self_Pay</name>
        <choiceText>Self-Pay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self-Pay</stringValue>
        </value>
    </choices>
    <choices>
        <name>WEEK</name>
        <choiceText>WEEK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WEEK</stringValue>
        </value>
    </choices>
    <choices>
        <name>YEAR</name>
        <choiceText>YEAR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YEAR</stringValue>
        </value>
    </choices>
    <choices>
        <name>YES</name>
        <choiceText>YES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YES</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_CP_Account</name>
        <label>Check CP Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Program_Relationship_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_CP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coordinating Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CP_Term_Start</targetReference>
            </connector>
            <label>Account is CP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Renewal_Early_or_Lapsed</name>
        <label>Is Renewal Early or Lapsed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Enrollment_Type_RENEW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Renew</defaultConnectorLabel>
        <rules>
            <name>Fresh_Membership_Join</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.Membership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Active_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Memberships.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrollment_Type_JOIN</targetReference>
            </connector>
            <label>Fresh Membership Join</label>
        </rules>
        <rules>
            <name>Re_Join</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Memberships.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Memberships.Membership_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrollment_Type_RE_JOIN</targetReference>
            </connector>
            <label>Re-Join</label>
        </rules>
    </decisions>
    <description>Latest version to handle the Relationship Ended Logics</description>
    <environments>Default</environments>
    <formulas>
        <name>billingType</name>
        <dataType>String</dataType>
        <expression>IF(
    TEXT({!Get_Account_Record.Program_Type__c}) = &quot;Local Program&quot;,
    IF({!Get_Program_Relationship_Records.Not_paying_for_this_term__c} = TRUE, &quot;Self-Pay&quot;, &quot;Paid By Coordinating Program&quot;),
    IF(TEXT({!Get_Account_Record.Program_Type__c}) = &quot;Coordinating Program&quot;, &quot;Self-Pay&quot;, &quot;&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>currentTermYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!Create_Renewal_Order.EndDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_calculateEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR(
        ADDMONTHS(
            {!newTermStartDate},
            IF(
                OR(
                    {!varEnrollmentType} = &quot;Join&quot;,
                    {!varEnrollmentType} = &quot;Rejoin&quot;
                ),
                13,
                12
            )
        )
    ),
    MONTH(
        ADDMONTHS(
            {!newTermStartDate},
            IF(
                OR(
                    {!varEnrollmentType} = &quot;Join&quot;,
                    {!varEnrollmentType} = &quot;Rejoin&quot;
                ),
                13,
                12
            )
        )
    ),
    1
) - 1</expression>
    </formulas>
    <formulas>
        <name>formula_CalculateNewTermEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR(
        ADDMONTHS(
            {!newTermStartDate},
            IF(
                AND(
                    OR(
                        {!varEnrollmentType} = &quot;JOIN&quot;,
                        {!varEnrollmentType} = &quot;REJOIN&quot;
                    ),
                    TEXT({!Get_Account_Record.Program_Type__c}) &lt;&gt; &quot;Coordinating Program&quot;
                ),
                13,
                12
            )
        )
    ),
    MONTH(
        ADDMONTHS(
            {!newTermStartDate},
            IF(
                AND(
                    OR(
                        {!varEnrollmentType} = &quot;JOIN&quot;,
                        {!varEnrollmentType} = &quot;REJOIN&quot;
                    ),
                     TEXT({!Get_Account_Record.Program_Type__c}) &lt;&gt; &quot;Coordinating Program&quot;
                ),
                13,
                12
            )
        )
    ),
    1
) - 1</expression>
    </formulas>
    <formulas>
        <name>formula_cpStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
        YEAR({!newTermStartDate}),
        01,
        01
    )</expression>
    </formulas>
    <formulas>
        <name>formula_cpYearEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
        YEAR(ADDMONTHS({!newTermStartDate}, 12)),
        12,
        31
    )</expression>
    </formulas>
    <formulas>
        <name>formula_NextDayAfterExpiry</name>
        <dataType>Date</dataType>
        <expression>{!Get_Active_Membership_Record.TermEndDate__c}+1</expression>
    </formulas>
    <formulas>
        <name>previousTermYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate}) - 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varFlowError</name>
        <dataType>String</dataType>
        <expression>IF(
  CONTAINS({!$Flow.FaultMessage}, &quot;FIELD_CUSTOM_VALIDATION_EXCEPTION:&quot;),
  IF(
    CONTAINS(
      MID(
        {!$Flow.FaultMessage},
        FIND(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION:&quot;, {!$Flow.FaultMessage})
          + LEN(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION: &quot;),
        999
      ),
      &quot;.&quot;
    ),
    LEFT(
      MID(
        {!$Flow.FaultMessage},
        FIND(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION:&quot;, {!$Flow.FaultMessage})
          + LEN(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION: &quot;),
        999
      ),
      FIND(
        &quot;.&quot;,
        MID(
          {!$Flow.FaultMessage},
          FIND(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION:&quot;, {!$Flow.FaultMessage})
            + LEN(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION: &quot;),
          999
        )
      )
    ),
    MID(
      {!$Flow.FaultMessage},
      FIND(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION:&quot;, {!$Flow.FaultMessage})
        + LEN(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION: &quot;),
      999
    )
  ),
  {!$Flow.FaultMessage}
)</expression>
    </formulas>
    <interviewLabel>Closed Membership Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closed Membership Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Renewal_Order</name>
        <label>Create Renewal Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renewal__c</field>
            <value>
                <elementReference>Auto_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <elementReference>Billing_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Term_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Term_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Type__c</field>
            <value>
                <elementReference>Enrollment_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Created_From_flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Type__c</field>
            <value>
                <elementReference>MembershipTypeLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Deductible_Amount__c</field>
            <value>
                <elementReference>Non_Deductible_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Deductible_Amount__c</field>
            <value>
                <elementReference>Tax_Deductible_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Duration__c</field>
            <value>
                <elementReference>Term_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Fee__c</field>
            <value>
                <elementReference>Term_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Length__c</field>
            <value>
                <elementReference>Term_Length</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Membership_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Membership_Record</name>
        <label>Get Active Membership Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Memberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Membership__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Memberships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Order</name>
        <label>Get Active Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Relationship_Records</name>
        <label>Get Program Relationship Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Membership_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Local_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Relationship__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Memberships</name>
        <label>Get Related Memberships</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Renewal_Early_or_Lapsed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership_Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Account_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Memberships__c</object>
        <sortField>TermEndDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(182, 0, 0);&quot;&gt;{!varFlowError}﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Membership_Form</name>
        <label>Membership Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Create_Renewal_Order</targetReference>
        </connector>
        <fields>
            <name>Membership_Information</name>
            <fieldText>Membership Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Membership_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MembershipTypeLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Membership_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Membership Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Memberships__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>selectedMembershipTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Enrollment_Type</name>
                    <choiceReferences>REJOIN</choiceReferences>
                    <choiceReferences>JOIN</choiceReferences>
                    <choiceReferences>RENEW</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varEnrollmentType</elementReference>
                    </defaultValue>
                    <fieldText>Enrollment Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Auto_Renewal</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Renewal Reminder</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Transaction_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Transaction Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Billing_Type</name>
                    <choiceReferences>Self_Pay</choiceReferences>
                    <choiceReferences>Paid_By_Coordinating_Program</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Billing Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Membership_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Term_Fee</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Active_Membership_Record.Membership_Type__r.Price__c</elementReference>
                    </defaultValue>
                    <fieldText>Term Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Term Fee will be auto populated based on the Selected Membership Type.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Term_Length</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Term Length</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Term_Duration</name>
                    <choiceReferences>YEAR</choiceReferences>
                    <choiceReferences>MONTH</choiceReferences>
                    <choiceReferences>WEEK</choiceReferences>
                    <choiceReferences>DAY</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>YEAR</defaultSelectedChoiceReference>
                    <fieldText>Term Duration</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Term_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>newTermStartDate</elementReference>
                    </defaultValue>
                    <fieldText>Term Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Term_End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>formula_CalculateNewTermEndDate</elementReference>
                    </defaultValue>
                    <fieldText>Term End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DateHelpText</name>
                    <fieldText>&lt;p&gt;*Term Start and End date are calculated automatically by the system based on the duration selected and previous Membership dates.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Tax_Deductible_Information</name>
            <fieldText>Tax-Deductible Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Tax_Deductible_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Non_Deductible_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Non_Deductible_Amount</elementReference>
                    </defaultValue>
                    <fieldText>Non-Deductible Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Tax_Deductible_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Tax_Deductible_Amount</elementReference>
                    </defaultValue>
                    <fieldText>Tax-Deductible Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Non_Deductible_Amount_Description</name>
                    <defaultValue>
                        <stringValue>{!Non_Deductible_Amount_Description}</stringValue>
                    </defaultValue>
                    <fieldText>Non-Deductible Amount Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tax_Deductible_Information_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Add Membership</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MembershipTerm</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newTermStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedMembershipTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Active_Membership_Record.Membership_Type__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>sProgramRelationshipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Relationship__c</objectType>
    </variables>
    <variables>
        <name>varEnrollmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
