force-app/main/default/flows/Create_Membership_Record_From_Order_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_the_account_has_active_membership</name>
        <label>Check if the account has active membership</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Associate_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Membership_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billed_For_Account__r.Membership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billed_For_Account__r.Membership__r.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_with_Membership</targetReference>
            </connector>
            <label>Active Membership Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_Account_is_CP_LP</name>
        <label>Check if the Account is CP/LP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_if_the_account_has_active_membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_LP</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billed_For_Account__r.Paid_By_CP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billed_For_Account__r.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billed_For_Account__r.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_account_has_active_membership</targetReference>
            </connector>
            <label>Account is LP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_The_Product_Type_Is_Membership</name>
        <label>Check Whether The Product Type Is Membership</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Type_Is_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Membership_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Membership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_Account_is_CP_LP</targetReference>
            </connector>
            <label>Product Type Is Membership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_if_the_account_has_active_membership</name>
        <label>Copy 1 of Check if the account has active membership</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Associate_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Active_Membership_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billed_For_Account__r.Membership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billed_For_Account__r.Membership__r.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Associate_with_Membership</targetReference>
            </connector>
            <label>Copy 1 of Active Membership Exists</label>
        </rules>
    </decisions>
    <description>This process will automatically generate a membership record that reflects the order record according to the membership type</description>
    <environments>Default</environments>
    <formulas>
        <name>varMembershipTerm</name>
        <dataType>String</dataType>
        <expression>$Record.Order.Membership_Type__r.Name
&amp; &apos; (&apos;
&amp; TEXT($Record.Order.Enrollment_Type__c)
&amp; &apos;, $&apos;
&amp; TEXT($Record.Order.Term_Fee__c)
&amp; &apos;, &apos;
&amp; TEXT($Record.Order.Term_Length__c)
&amp; &apos; &apos;
&amp; TEXT($Record.Order.Term_Duration__c)
&amp; &apos;)&apos;</expression>
    </formulas>
    <interviewLabel>Create Membership Record From Order Line Ite, {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Membership Record From Order Line Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Is there is not active membership exists, create a membership record and associate it with the account</description>
        <name>Associate_Account</name>
        <label>Associate Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Billed_For_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EnrollmentType__c</field>
            <value>
                <elementReference>$Record.Order.Enrollment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Id__c</field>
            <value>
                <elementReference>$Record.Order.Enrollment_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fee__c</field>
            <value>
                <elementReference>$Record.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MembershipTerm__c</field>
            <value>
                <elementReference>varMembershipTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <stringValue>Payment Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Type__c</field>
            <value>
                <elementReference>$Record.Product2.Membership_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account__c</field>
            <value>
                <elementReference>$Record.Billed_For_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Reminder__c</field>
            <value>
                <elementReference>$Record.Order.Auto_Renewal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermEndDate__c</field>
            <value>
                <elementReference>$Record.Order.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermStartDate__c</field>
            <value>
                <elementReference>$Record.Order.EffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDate__c</field>
            <value>
                <elementReference>$Record.Order.Transaction_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Memberships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>If an active membership exists for an account, create a membership record and associate the account with it.</description>
        <name>Associate_with_Membership</name>
        <label>Associate with Membership</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Billed_For_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EnrollmentType__c</field>
            <value>
                <elementReference>$Record.Order.Enrollment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Id__c</field>
            <value>
                <elementReference>$Record.Order.Enrollment_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fee__c</field>
            <value>
                <elementReference>$Record.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MembershipTerm__c</field>
            <value>
                <elementReference>varMembershipTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <stringValue>Payment Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Type__c</field>
            <value>
                <elementReference>$Record.Product2.Membership_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account__c</field>
            <value>
                <elementReference>$Record.Billed_For_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Reminder__c</field>
            <value>
                <elementReference>$Record.Order.Auto_Renewal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermDuration__c</field>
            <value>
                <elementReference>$Record.Order.Term_Length__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermEndDate__c</field>
            <value>
                <elementReference>$Record.LP_Membership_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermPeriod__c</field>
            <value>
                <elementReference>$Record.Order.Term_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermStartDate__c</field>
            <value>
                <elementReference>$Record.LP_Membership_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDate__c</field>
            <value>
                <elementReference>$Record.Order.Transaction_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Memberships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Is there is not active membership exists, create a membership record and associate it with the account</description>
        <name>Copy_1_of_Associate_Account</name>
        <label>Copy 1 of Associate Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Billed_For_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EnrollmentType__c</field>
            <value>
                <elementReference>$Record.Order.Enrollment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Id__c</field>
            <value>
                <elementReference>$Record.Order.Enrollment_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fee__c</field>
            <value>
                <elementReference>$Record.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MembershipTerm__c</field>
            <value>
                <elementReference>varMembershipTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <stringValue>Payment Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Type__c</field>
            <value>
                <elementReference>$Record.Product2.Membership_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account__c</field>
            <value>
                <elementReference>$Record.Billed_For_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Reminder__c</field>
            <value>
                <elementReference>$Record.Order.Auto_Renewal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermEndDate__c</field>
            <value>
                <elementReference>$Record.Order.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermStartDate__c</field>
            <value>
                <elementReference>$Record.Order.EffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDate__c</field>
            <value>
                <elementReference>$Record.Order.Transaction_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Memberships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>If an active membership exists for an account, create a membership record and associate the account with it.</description>
        <name>Copy_1_of_Associate_with_Membership</name>
        <label>Copy 1 of Associate with Membership</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Billed_For_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EnrollmentType__c</field>
            <value>
                <elementReference>$Record.Order.Enrollment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Id__c</field>
            <value>
                <elementReference>$Record.Order.Enrollment_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fee__c</field>
            <value>
                <elementReference>$Record.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MembershipTerm__c</field>
            <value>
                <elementReference>varMembershipTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <stringValue>Payment Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Type__c</field>
            <value>
                <elementReference>$Record.Product2.Membership_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account__c</field>
            <value>
                <elementReference>$Record.Billed_For_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Reminder__c</field>
            <value>
                <elementReference>$Record.Order.Auto_Renewal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermDuration__c</field>
            <value>
                <elementReference>$Record.Order.Term_Length__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermEndDate__c</field>
            <value>
                <elementReference>$Record.Order.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermPeriod__c</field>
            <value>
                <elementReference>$Record.Order.Term_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermStartDate__c</field>
            <value>
                <elementReference>$Record.Order.EffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDate__c</field>
            <value>
                <elementReference>$Record.Order.Transaction_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Memberships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Whether_The_Product_Type_Is_Membership</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billed_For_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
