force-app/main/default/flows/Create_Membership_Transaction_From_the_Invoice_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Active_Or_Queued_Membership</name>
        <label>Check Active Or Queued Membership</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Membership_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billed_For_Account__r.Membership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billed_For_Account__r.Membership__r.Membership_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Membership_Transaction_Records</targetReference>
            </connector>
            <label>Check Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>billingType</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!$Record.Billing_Type__c}, &quot;Self-Pay&quot;),
    &quot;Self-Pay&quot;,
    IF(
        ISPICKVAL({!$Record.Billing_Type__c}, &quot;Paid By Coordinating Program&quot;),
        &quot;Paid By Coordinating Program&quot;,
        &quot;&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>todayPlus7</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <interviewLabel>Create Membership Transaction From the Invoice Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Membership Transaction From the Invoice Line Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Membership_Transaction_Records</name>
        <label>Copy 1 of Create Membership Transaction Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <elementReference>billingType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Invoice__r.Related_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalAmount__c</field>
            <value>
                <elementReference>$Record.Line_Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Membership__c</field>
            <value>
                <elementReference>Get_Membership_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Unpaid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDueDate__c</field>
            <value>
                <elementReference>todayPlus7</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Membership_Transaction_Records</name>
        <label>Create Membership Transaction Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <elementReference>billingType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Invoice__r.Related_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalAmount__c</field>
            <value>
                <elementReference>$Record.Line_Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Membership__c</field>
            <value>
                <elementReference>$Record.Billed_For_Account__r.Membership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Unpaid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDueDate__c</field>
            <value>
                <elementReference>todayPlus7</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Membership_Records</name>
        <label>Get Membership Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_Membership_Transaction_Records</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billed_For_Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </filters>
        <filters>
            <field>Membership_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Memberships__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Active_Or_Queued_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billed_For_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Invoice_For_Upgrade__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Invoice_Line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
