force-app/main/default/flows/Create_Invoice_and_Invoice_Line_Items_from_the_order_and_OLI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_the_single_line_items_to_the_collection</name>
        <label>Add the single line items to the collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>multipleInvoiceLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_order_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Line_items_to_Single_Variable</name>
        <label>Assign Line items to Single Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newInvoiceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_order_line_items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Billed_For_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_order_line_items.Billed_For_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_order_line_items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_order_line_items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_single_line_items_to_the_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_the_single_line_items_to_the_collection</name>
        <label>Copy 1 of Add the single line items to the collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>multipleInvoiceLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_through_the_order_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Line_items_to_Single_Variable</name>
        <label>Copy 1 of Assign Line items to Single Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newInvoiceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_through_the_order_line_items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Billed_For_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_through_the_order_line_items.Billed_For_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_through_the_order_line_items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_through_the_order_line_items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_the_single_line_items_to_the_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Add_the_single_line_items_to_the_collection</name>
        <label>Copy 2 of Add the single line items to the collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>multipleInvoiceLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Loop_through_the_order_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Line_items_to_Single_Variable</name>
        <label>Copy 2 of Assign Line items to Single Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newInvoiceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Loop_through_the_order_line_items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Billed_For_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Loop_through_the_order_line_items.Billed_For_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Loop_through_the_order_line_items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Loop_through_the_order_line_items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleInvoiceLineItem.Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Add_the_single_line_items_to_the_collection</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <description>This error is to notify the user to add a billing contact to the Account for invoicing purpose</description>
        <name>Show_Billing_Contact_Validation</name>
        <label>Show Billing Contact Validation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Please choose a Primary contact for the Account : {!$Record.Account.Name}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Account_is_CP_LP</name>
        <label>Check Account is CP/LP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Invoice_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_LP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid By Coordinating Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Invoice_Record</targetReference>
            </connector>
            <label>Account is LP</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether a billing contact exists for the account</description>
        <name>Check_Billing_Contact_Exisits</name>
        <label>Check Billing Contact Exisits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Show_Billing_Contact_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_Contact_exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accoun_t_billing_Contact.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice_Records</targetReference>
            </connector>
            <label>Billing Contact exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Invoice_Exists</name>
        <label>Check Invoice Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_is_CP_LP</targetReference>
            </connector>
            <label>Invoice Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_is_person_account</name>
        <label>Check is person account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Invoice_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accoun_t_billing_Contact</targetReference>
            </connector>
            <label>Not Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Invoice_Exists</name>
        <label>Copy 1 of Check Invoice Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Invoice_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Invoice_Record</targetReference>
            </connector>
            <label>Copy 1 of Invoice Exists</label>
        </rules>
    </decisions>
    <description>This version is used to identify the person and organization account</description>
    <environments>Default</environments>
    <formulas>
        <name>fTodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>fTodayDatePlus7</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <formulas>
        <name>primaryAndBillingContact</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!Get_Accoun_t_billing_Contact.Roles},&quot;Billing ContactPrimary Contact&quot;)</expression>
    </formulas>
    <interviewLabel>Create Invoice and Invoice Line Items from the order and OLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Invoice and Invoice Line Items from the order and OLI</label>
    <loops>
        <name>Copy_1_of_Loop_through_the_order_line_items</name>
        <label>Copy 1 of Loop through the order line items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Copy_1_of_Get_Order_Line_Item_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_Line_items_to_Single_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Create_Invoice_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_2_of_Loop_through_the_order_line_items</name>
        <label>Copy 2 of Loop through the order line items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Copy_2_of_Get_Order_Line_Item_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Assign_Line_items_to_Single_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_Create_Invoice_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_the_order_line_items</name>
        <label>Loop through the order line items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Order_Line_Item_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Line_items_to_Single_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Invoice_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Invoice_Line_Items</name>
        <label>Copy 1 of Create Invoice Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Program_Relationship_Record</targetReference>
        </connector>
        <inputReference>multipleInvoiceLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Invoice_Record</name>
        <label>Copy 1 of Create Invoice Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>newInvoiceId</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Get_Order_Line_Item_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact__c</field>
            <value>
                <elementReference>Get_Accoun_t_billing_Contact.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>fTodayDatePlus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>fTodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Payment pending by CP</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Invoice_Line_Items</name>
        <label>Copy 2 of Create Invoice Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>multipleInvoiceLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Invoice_Record</name>
        <label>Copy 2 of Create Invoice Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>newInvoiceId</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_2_of_Get_Order_Line_Item_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact__c</field>
            <value>
                <elementReference>Get_Accoun_t_billing_Contact.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>fTodayDatePlus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>fTodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoice_Line_Items</name>
        <label>Create Invoice Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Get_Program_Relationship_Record</targetReference>
        </connector>
        <inputReference>multipleInvoiceLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoice_Record</name>
        <label>Create Invoice Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>newInvoiceId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Order_Line_Item_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact__c</field>
            <value>
                <elementReference>Get_Accoun_t_billing_Contact.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>fTodayDatePlus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>fTodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Invoice_Records</name>
        <label>Copy 1 of Get Invoice Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_Invoice_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All the order line item records associated with the Order</description>
        <name>Copy_1_of_Get_Order_Line_Item_Records</name>
        <label>Copy 1 of Get Order Line Item Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_through_the_order_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All the order line item records associated with the Order</description>
        <name>Copy_2_of_Get_Order_Line_Item_Records</name>
        <label>Copy 2 of Get Order Line Item Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Loop_through_the_order_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Program_Relationship_Record</name>
        <label>Copy 2 of Get Program Relationship Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Update_Term_Start_and_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Local_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Relationship__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Accoun_t_billing_Contact</name>
        <label>Get Accoun&apos;t billing Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Billing_Contact_Exisits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Records</name>
        <label>Get Invoice Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Invoice_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All the order line item records associated with the Order</description>
        <name>Get_Order_Line_Item_Records</name>
        <label>Get Order Line Item Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_order_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Relationship_Record</name>
        <label>Get Program Relationship Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Term_Start_and_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Local_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Relationship__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Term_Start_and_End_Date</name>
        <label>Copy 1 of Update Term Start and End Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_2_of_Get_Program_Relationship_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Term_End_Date__c</field>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Start_Date__c</field>
            <value>
                <elementReference>$Record.EffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <object>Program_Relationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Term_Start_and_End_Date</name>
        <label>Update Term Start and End Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Program_Relationship_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Term_End_Date__c</field>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Start_Date__c</field>
            <value>
                <elementReference>$Record.EffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <object>Program_Relationship__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_is_person_account</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>multipleInvoiceLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice_Line__c</objectType>
    </variables>
    <variables>
        <name>newInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>primaryandbillingvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Accoun_t_billing_Contact.Roles</elementReference>
        </value>
    </variables>
    <variables>
        <name>singleInvoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line__c</objectType>
    </variables>
</Flow>
