force-app/main/default/flows/Delete_Program_Relationship_on_Local_Program_Account_Deletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Program_Relationship_Found</name>
        <label>Program Relationship Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Program_Relationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Program_Relationship</targetReference>
            </connector>
            <label>Yes, Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Delete Program Relationship on Local Program Account Deletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Program Relationship on Local Program Account Deletion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Program_Relationship</name>
        <label>Delete Program Relationship</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Program_Relationship</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Program_Relationship</name>
        <label>Get Program Relationship</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program_Relationship_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Local_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Program_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Local Program</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
