force-app/main/default/flows/Membership_Refund_Update_Transaction_on_Completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Refund_Amount</name>
        <label>Check Refund Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Full_Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Membership_Transaction__r.OriginalAmount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_as_Fully_Refunded</targetReference>
            </connector>
            <label>Full Refund</label>
        </rules>
        <rules>
            <name>Partial_Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Membership_Transaction__r.OriginalAmount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_as_Partially_Refunded</targetReference>
            </connector>
            <label>Partial Refund</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Membership Refund: Update Transaction on Completion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership Refund: Update Transaction on Completion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Mark_as_Fully_Refunded</name>
        <label>Mark as Fully Refunded</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Membership_as_Refunded</targetReference>
        </connector>
        <inputAssignments>
            <field>IsFullyRefunded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Membership_Transaction__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_as_Partially_Refunded</name>
        <label>Mark as Partially Refunded</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>IsPartiallyRefunded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Membership_Transaction__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Membership_as_Refunded</name>
        <label>Update Membership as Refunded</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <stringValue>Refunded</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Membership_Transaction__r.Related_Membership__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Refund_Amount</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Membership_Refund__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
