force-app/main/default/flows/Restrict_Creation_of_program_relationship_record_automatically.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Assign_Billing_Type</name>
        <label>Assign Billing Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRelationshipType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pays LP Membership</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Existing_PR_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Billing_Type</name>
        <label>Assign Billing Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRelationshipType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Jurisdictional</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Existing_PR_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_is_CP_LP</name>
        <label>Check Account is CP / LP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Is_LP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_LP_Is_Self_Pay</targetReference>
            </connector>
            <label>Account Is LP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Existing_PR_Found</name>
        <label>Check If Existing PR Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Program_Relationship_Record_For_Upcoming_Year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PR_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Program_Relationship_Records_of_LP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_PR_Status_Term_Year</targetReference>
            </connector>
            <label>PR Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Person_Account</name>
        <label>Check If Person Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_the_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_is_CP_LP</targetReference>
            </connector>
            <label>Outcome 1 of Check the Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_LP_Is_Self_Pay</name>
        <label>Check LP Is Not a Self Pay</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Coordinating_Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid By Coordinating Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self-Pay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Program_Relationship_Records_of_LP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Billing_Type</name>
        <label>Check Billing Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Assign_Billing_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Paid_By_CP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid By Coordinating Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Billing_Type</targetReference>
            </connector>
            <label>Paid By CP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_PR_Status_Term_Year</name>
        <label>Check PR Status &amp; Term Year</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Program_Relationship_Record_For_Upcoming_Year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Program_Relationship_Records_of_LP.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program_Relationship_Records_of_LP.TermYear__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>renewalTermEndYear</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Program_Relationship_Records</targetReference>
            </connector>
            <label>Matched</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>renewalTermEndYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Record.EndDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>renewalTermStartYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Record.EffectiveDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Restrict Creation of program relationship record automatically {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Restrict Creation of program relationship record automatically</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Program_Relationship_Record_For_Upcoming_Year</name>
        <label>Create Program Relationship Record For Upcoming Year</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Coordinating_Program__c</field>
            <value>
                <elementReference>$Record.Account.Coordinating_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Program__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Type__c</field>
            <value>
                <elementReference>varRelationshipType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_End_Date__c</field>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Start_Date__c</field>
            <value>
                <elementReference>$Record.EffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <object>Program_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Program_Relationship_Records_of_LP</name>
        <label>Get Program Relationship Records of LP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_Billing_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Local_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Coordinating_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Coordinating_Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Relationship__c</object>
        <sortField>Term_End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Program_Relationship_Records</name>
        <label>Update Program Relationship Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Program_Relationship_Records_of_LP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Relationship_Type__c</field>
            <value>
                <elementReference>varRelationshipType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_End_Date__c</field>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Start_Date__c</field>
            <value>
                <elementReference>$Record.EffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <object>Program_Relationship__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Person_Account</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enrollment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RENEW</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varRelationshipType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
