force-app/main/default/flows/Update_Transaction_Completion_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Encrypt_ContactId</name>
        <label>Encrypt ContactId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EncryptActivationContactId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Update_Membership_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contactIdForActivation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EncryptActivationContactId</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Encrypt_ContactId</name>
        <label>Encrypt ContactId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EncryptActivationContactId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Membership_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contactIdForActivation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EncryptActivationContactId</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Show_Custom_Error</name>
        <label>Show Custom Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>The Contact for the Billing Account does not have an email address provided.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Account_is_LP_CP</name>
        <label>Check Account is LP/CP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Update_Invoice_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_LP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order__r.Account.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order__r.Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid By Coordinating Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice_Record</targetReference>
            </connector>
            <label>Account is LP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_s_Email</name>
        <label>Check Contact&apos;s Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Transaction_Change_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Email_not_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice__r.Bill_To_Account__r.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice__r.Bill_To_Account__r.Primary_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Custom_Error</targetReference>
            </connector>
            <label>Is Email not available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_today_is_falling_in_current_term</name>
        <label>Check today is falling in current term</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Transaction_Completion_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentTerm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Transaction_Completion_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transaction_Change_Type</name>
        <label>Check Transaction Change Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Active_Membership_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Upgraded_or_Downgraded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transaction_For_Change_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Transaction_Completion_Date</targetReference>
            </connector>
            <label>Upgraded or Downgraded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Account_is_LP_CP</name>
        <label>Copy 1 of Check Account is LP/CP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_2_of_Update_Invoice_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Account_is_LP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order__r.Account.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order__r.Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid By Coordinating Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Invoice_Record</targetReference>
            </connector>
            <label>Copy 1 of Account is LP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>activationLink</name>
        <dataType>String</dataType>
        <expression>&quot;https://members.mainstreet.org/membership/activate?memberId=&quot; &amp;
CASESAFEID(
{!Encrypt_ContactId.encryptedContactId}
)</expression>
    </formulas>
    <formulas>
        <name>activeAccon</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Order__r.Account.IsPersonAccount}, 
   {!$Record.Order__r.Account.PersonContact.Name}, 
   {!$Record.Order__r.Account.Name}
)</expression>
    </formulas>
    <formulas>
        <name>contactIdForActivation</name>
        <dataType>String</dataType>
        <expression>IF(
        {!$Record.Invoice__r.Bill_To_Account__r.IsPersonAccount},
        {!$Record.Invoice__r.Bill_To_Account__r.PersonContactId},
        IF(
            {!$Record.Invoice__r.Bill_To_Account__r.Primary_Contact__r.IsPersonAccount},
            {!$Record.Invoice__r.Bill_To_Account__r.Primary_Contact__r.Account.PersonContactId},
            {!$Record.Invoice__r.Bill_To_Account__r.Primary_Contact__c}
        )
    )</expression>
    </formulas>
    <formulas>
        <name>currentTerm</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  {!$Flow.CurrentDate} &gt;= {!Get_Active_Membership_Record.TermStartDate__c},
  {!$Flow.CurrentDate} &lt;= {!Get_Active_Membership_Record.TermEndDate__c}
)</expression>
    </formulas>
    <formulas>
        <name>currentTermYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>currentTermYearForRenewal</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Record.Order__r.EndDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Update Transaction Completion Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Transaction Completion Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Membership_Record</name>
        <label>Get Active Membership Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_today_is_falling_in_current_term</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order__r.Account.Membership__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Membership_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Membership Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Membership_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Grace Period</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Memberships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_Update_Invoice_Record</name>
        <label>Copy 1 of Copy 2 of Update Invoice Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Invoice_Record</name>
        <label>Copy 1 of Update Invoice Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Membership_Record</name>
        <label>Update Membership Record as Queued</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Account_is_LP_CP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Membership__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Account_Name__c</field>
            <value>
                <elementReference>$Record.Order__r.Account.Person_Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Activation_Link__c</field>
            <value>
                <elementReference>activationLink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Reminder__c</field>
            <value>
                <elementReference>$Record.Order__r.Auto_Renewal__c</elementReference>
            </value>
        </inputAssignments>
        <object>Memberships__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Transaction_Completion_Date</name>
        <label>Copy 1 of Update Transaction Completion Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Invoice_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>TransactionCompletionDate__c</field>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Invoice_Record</name>
        <label>Copy 2 of Update Invoice Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Transaction_Completion_Date</name>
        <label>Copy 2 of Update Transaction Completion Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Encrypt_ContactId</targetReference>
        </connector>
        <inputAssignments>
            <field>TransactionCompletionDate__c</field>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Invoice_Record</name>
        <label>Copy 3 of Update Invoice Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid by CP</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Record</name>
        <label>Update Invoice Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid by CP</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Membership_Record</name>
        <label>Update Membership Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_is_LP_CP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Membership__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Account_Name__c</field>
            <value>
                <elementReference>$Record.Order__r.Account.Person_Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Activation_Link__c</field>
            <value>
                <elementReference>activationLink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <stringValue>Membership Activated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Reminder__c</field>
            <value>
                <elementReference>$Record.Order__r.Auto_Renewal__c</elementReference>
            </value>
        </inputAssignments>
        <object>Memberships__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transaction_Completion_Date</name>
        <label>Update Transaction Completion Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Encrypt_ContactId</targetReference>
        </connector>
        <inputAssignments>
            <field>TransactionCompletionDate__c</field>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Contact_s_Email</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <object>Membership_Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionRecordInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>collectionRecordMT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Membership_Transaction__c</objectType>
    </variables>
    <variables>
        <name>singleRecordMT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Membership_Transaction__c</objectType>
    </variables>
    <variables>
        <name>singlerRecordInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
</Flow>
