force-app/main/default/flows/Update_Status_as_Expired_for_Expired_Memberships.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_account_collection_to_update</name>
        <label>Assign account collection to update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cAcccountActiveUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sAccountToActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_Queued_Membership_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Single_to_record_to_update</name>
        <label>Assign Account Single to record to update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sAccountToActive.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_Queued_Membership_Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAccountToActive.Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_Queued_Membership_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_account_collection_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Collection_Value</name>
        <label>Assign Collection Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sAccountIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_collection_values</name>
        <label>Assign collection values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cQueuedMembershipRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sQueuedMembershipRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_Single_to_record_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Value</name>
        <label>Assign Single Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_the_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Collection_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_value_to_collection</name>
        <label>Assign Single value to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cMembershipRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sMembershipRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_values</name>
        <label>Assign single values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sMembershipRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_membership_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sMembershipRecord.Membership_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sMembershipRecord.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_value_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_values_for_queued</name>
        <label>Assign single values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sQueuedMembershipRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_Queued_Membership_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sQueuedMembershipRecord.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sQueuedMembershipRecord.Membership_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Membership Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sQueuedMembershipRecord.Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_collection_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Values_to_history</name>
        <label>Assign Single Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sMembershipToHistory.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Expired_Membership_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sMembershipToHistory.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Account_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_collection</name>
        <label>Assign values to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cMembershipToHistory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sMembershipToHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Account_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_The_Expired_Memberships_Matches_the_Accounts</name>
        <label>Check The Expired Memberships Matches the Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_the_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_the_Accounts.Membership__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_the_membership_Records.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_Value</targetReference>
            </connector>
            <label>Matches</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>yesterDayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 1</expression>
    </formulas>
    <interviewLabel>Update Status as Expired for Expired Memberships {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Status as Expired for Expired Memberships</label>
    <loops>
        <name>Loop_through_Account_Ids</name>
        <label>Loop through Account Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>cAccountIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Values_to_history</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Expired_Membership_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Expired_Membership_Records</name>
        <label>Loop through Expired Membership Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>cMembershipRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_Account_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Membership_To_History_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_the_Accounts</name>
        <label>Loop through the Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Account_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_The_Expired_Memberships_Matches_the_Accounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_the_membership_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_the_membership_Records</name>
        <label>Loop through the membership Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Membership_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_single_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Membership_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_the_Queued_Membership_Record</name>
        <label>Loop through the Queued Membership Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Queued_Membership_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_single_values_for_queued</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_membership_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Membership_Records</name>
        <label>Get Membership Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Records</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Membership_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Membership Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>TermEndDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>yesterDayDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Grace Period</stringValue>
            </value>
        </filters>
        <filters>
            <field>Grace_Period_End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>yesterDayDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Memberships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queued_Membership_Records</name>
        <label>Get Queued Membership Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_Queued_Membership_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>cAccountIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Memberships__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Records</name>
        <label>Update Account Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Queued_to_Active_Membership_Record</targetReference>
        </connector>
        <inputReference>cAcccountActiveUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Membership_Records</name>
        <label>Update Membership Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queued_Membership_Records</targetReference>
        </connector>
        <inputReference>cMembershipRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Membership_To_History_Records</name>
        <label>Update Membership To History Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>cMembershipToHistory</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Queued_to_Active_Membership_Record</name>
        <label>Update Queued to Active Membership Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_through_Expired_Membership_Records</targetReference>
        </connector>
        <inputReference>cQueuedMembershipRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Membership_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-10-04</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>cAcccountActiveUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>cAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cMembershipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Memberships__c</objectType>
    </variables>
    <variables>
        <name>cMembershipToHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Memberships__c</objectType>
    </variables>
    <variables>
        <name>cQueuedMembershipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Memberships__c</objectType>
    </variables>
    <variables>
        <name>sAccountIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sAccountToActive</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sMembershipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Memberships__c</objectType>
    </variables>
    <variables>
        <name>sMembershipToHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Memberships__c</objectType>
    </variables>
    <variables>
        <name>sQueuedMembershipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Memberships__c</objectType>
    </variables>
</Flow>
