force-app/main/default/flows/Update_Program_Relationship_Status_for_Local_Programs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_collection_ids</name>
        <label>Assign collection ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cLocalProgramIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sLocalProgramIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_account_ids</name>
        <label>Assign single account ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sLocalProgramIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_program.Local_Program__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_collection_ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_values</name>
        <label>Assign single values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sAccountIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_collection</name>
        <label>Assign to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sAccountIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_single_record</name>
        <label>Assing single record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sProgramRelationshipRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_program_relationship_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sProgramRelationshipRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assingn_collection_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assingn_collection_record</name>
        <label>Assingn collection record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cPrograamRelationshipRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sProgramRelationshipRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_program_relationship_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Term_End_Date_Passed</name>
        <label>Check Term End Date Passed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_the_accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_Term_End_Date_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_the_accounts.Membership__r.Grace_Period_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_single_values</targetReference>
            </connector>
            <label>Outcome 1 of Check Term End Date Passed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>termYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Program Relationship Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Program Relationship Status for Local Programs</label>
    <loops>
        <name>Loop_through_program_relationship_record</name>
        <label>Loop through program relationship record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Program_Relationship_Recordss</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assing_single_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_program_relationship_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_the_accounts</name>
        <label>Loop through the accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Account_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Term_End_Date_Passed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Program_Relationship_Recordss</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_the_program</name>
        <label>Loop through the program relationship record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Program_Relationship_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_single_account_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>cLocalProgramIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Relationship_Records</name>
        <label>Get Program Relationship Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>termYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Relationship_Recordss</name>
        <label>Get Program Relationship Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_program_relationship_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Local_Program__c</field>
            <operator>In</operator>
            <value>
                <elementReference>cAccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_program_relationship_record</name>
        <label>Update program relationship record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>cPrograamRelationshipRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Program_Relationship_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-10-04</startDate>
            <startTime>06:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cLocalProgramIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cPrograamRelationshipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Relationship__c</objectType>
    </variables>
    <variables>
        <name>sAccountIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sLocalProgramIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sProgramRelationshipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Relationship__c</objectType>
    </variables>
</Flow>
