force-app/main/default/flows/Update_Start_Date_and_End_Date_in_Membership_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Default_Start_Date</name>
        <label>Add Default Start Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Term_Duration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_End_Date_for_DAY</name>
        <label>Calculate End Date for DAY</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CalculateDayEndDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Calculate_End_Date_for_MONTH</name>
        <label>Calculate End Date for MONTH</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CalculateMonthEndDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Calculate_End_Date_for_WEEK</name>
        <label>Calculate End Date for WEEK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CalculateWeekEndDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Calculate_End_Date_for_YEAR</name>
        <label>Calculate End Date for YEAR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CalculateYearEndDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Calculate_End_Date_for_YEAR_RENEW</name>
        <label>Calculate End Date for YEAR (RENEW)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CalculateYearEndDateForRENEW</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Default_Start_Date</name>
        <label>Copy 1 of Add Default Start Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cpStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_Term_Duration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Calculate_End_Date_for_DAY</name>
        <label>Calculate End Date for DAY</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CalculateDayEndDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Calculate_End_Date_for_MONTH</name>
        <label>Calculate End Date for MONTH</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CalculateMonthEndDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Calculate_End_Date_for_WEEK</name>
        <label>Calculate End Date for WEEK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CalculateWeekEndDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Calculate_End_Date_for_YEAR</name>
        <label>Calculate End Date for YEAR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cpYearEndDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Start_Date_For_Renewal</name>
        <label>Set Start Date For Renewal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTermStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Term_Duration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_Start_Date_For_Renewal</name>
        <label>Set Start Date For Renewal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cpNextStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_Term_Duration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Start_Date_For_Renewal</name>
        <label>Set Start Date For Renewal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTermStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Term_Duration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_is_LP_or_CP</name>
        <label>Check Account is LP or CP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_CP_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_LP</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Program_Type__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Created_From_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Membership</targetReference>
            </connector>
            <label>Account is LP or Person Acc</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CP_Account</name>
        <label>Check CP Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_CP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coordinating Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Active_Membership</targetReference>
            </connector>
            <label>Is CP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Term_Duration</name>
        <label>Check Term Duration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DURATION_IS_YEAR_for_RENEW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Duration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YEAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RENEW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_End_Date_for_YEAR_RENEW</targetReference>
            </connector>
            <label>DURATION IS YEAR (RENEW)</label>
        </rules>
        <rules>
            <name>DURATION_IS_YEAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Duration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YEAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_End_Date_for_YEAR</targetReference>
            </connector>
            <label>DURATION IS YEAR</label>
        </rules>
        <rules>
            <name>DURATIONISMONTH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Duration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MONTH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_End_Date_for_MONTH</targetReference>
            </connector>
            <label>DURATION IS MONTH</label>
        </rules>
        <rules>
            <name>DURATION_IS_WEEK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Duration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WEEK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_End_Date_for_WEEK</targetReference>
            </connector>
            <label>DURATION IS WEEK</label>
        </rules>
        <rules>
            <name>DURATION_IS_DAY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Duration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_End_Date_for_DAY</targetReference>
            </connector>
            <label>DURATION IS DAY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Term_Duration</name>
        <label>Check Term Duration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_DURATION_IS_YEAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Duration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YEAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Calculate_End_Date_for_YEAR</targetReference>
            </connector>
            <label>DURATION IS YEAR</label>
        </rules>
        <rules>
            <name>Copy_1_of_DURATION_IS_MONTH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Duration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MONTH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Calculate_End_Date_for_MONTH</targetReference>
            </connector>
            <label>DURATION IS MONTH</label>
        </rules>
        <rules>
            <name>DURATION_IS_WEEK_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Duration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WEEK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Calculate_End_Date_for_WEEK</targetReference>
            </connector>
            <label>DURATION IS WEEK</label>
        </rules>
        <rules>
            <name>Copy_1_of_DURATION_IS_DAY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Duration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Calculate_End_Date_for_DAY</targetReference>
            </connector>
            <label>DURATION IS DAY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_Renewing_Early</name>
        <label>Is Renewing Early</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Add_Default_Start_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Renewing_Early</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Active_Membership.TermEndDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_Start_Date_For_Renewal</targetReference>
            </connector>
            <label>Renewing Early</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Renewing_Early</name>
        <label>Is Renewing Early</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Default_Start_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewing_Early</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Membership.TermEndDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Start_Date_For_Renewal</targetReference>
            </connector>
            <label>Renewing Early</label>
        </rules>
        <rules>
            <name>Renew_In_Grace_Period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Membership.TermEndDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Active_Membership.Grace_Period_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Start_Date_For_Renewal</targetReference>
            </connector>
            <label>Renew In Grace Period</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>cpNextStartDate</name>
        <dataType>Date</dataType>
        <expression>{!Copy_1_of_Get_Active_Membership.TermEndDate__c}+1</expression>
    </formulas>
    <formulas>
        <name>cpStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    OR(
        ISBLANK({!$Record.EffectiveDate}),
        ISBLANK({!$Record.Term_Length__c})
    ),
    NULL,
    DATE(
        YEAR({!$Record.EffectiveDate}),
        01,
        01
    )
)</expression>
    </formulas>
    <formulas>
        <name>cpYearEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    OR(
        ISBLANK({!$Record.EffectiveDate}),
        ISBLANK({!$Record.Term_Length__c})
    ),
    NULL,
    DATE(
        YEAR({!$Record.EffectiveDate}) + {!$Record.Term_Length__c} - 1,
        12,
        31
    )
)</expression>
    </formulas>
    <formulas>
        <name>formula_CalculateDayEndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.EffectiveDate} + {!$Record.Term_Length__c}</expression>
    </formulas>
    <formulas>
        <name>formula_CalculateMonthEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.EffectiveDate}, {!$Record.Term_Length__c})</expression>
    </formulas>
    <formulas>
        <name>formula_CalculateWeekEndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.EffectiveDate} + ({!$Record.Term_Length__c} * 7)</expression>
    </formulas>
    <formulas>
        <name>formula_CalculateYearEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    OR(
        ISBLANK({!$Record.EffectiveDate}),
        ISBLANK({!$Record.Term_Length__c})
    ),
    NULL,
    IF(
        MONTH(ADDMONTHS({!$Record.EffectiveDate}, 12 * {!$Record.Term_Length__c})) = 12,
        DATE(
            YEAR(ADDMONTHS({!$Record.EffectiveDate}, 12 * {!$Record.Term_Length__c})),
            12,
            31
        ),
        DATE(
            YEAR(ADDMONTHS({!$Record.EffectiveDate}, 12 * {!$Record.Term_Length__c})),
            MONTH(ADDMONTHS({!$Record.EffectiveDate}, 12 * {!$Record.Term_Length__c})) + 1,
            1
        ) - 1
    )
)</expression>
    </formulas>
    <formulas>
        <name>formula_CalculateYearEndDateForRENEW</name>
        <dataType>Date</dataType>
        <expression>IF(
    OR(
        ISBLANK({!$Record.EffectiveDate}),
        ISBLANK({!$Record.Term_Length__c})
    ),
    NULL,
    DATE(
        YEAR(ADDMONTHS({!$Record.EffectiveDate}, 12 * {!$Record.Term_Length__c})),
        MONTH(ADDMONTHS({!$Record.EffectiveDate}, 12 * {!$Record.Term_Length__c})),
        1
    ) - 1
)</expression>
    </formulas>
    <formulas>
        <name>fTermStartDate</name>
        <dataType>Date</dataType>
        <expression>{!Get_Active_Membership.TermEndDate__c}+1</expression>
    </formulas>
    <interviewLabel>Update Start Date and End Date in Membership Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Start Date and End Date in Membership Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Active_Membership</name>
        <label>Get Active Membership</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Is_Renewing_Early</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Membership__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Memberships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Membership</name>
        <label>Get Active Membership</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Renewing_Early</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Membership__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Memberships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_is_LP_or_CP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term_Length__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Term_Duration__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
