force-app/main/default/flows/Update_Term_Fee_Value.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign</name>
        <label>Set Yearly Fee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Term_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>YearlyFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_is_LP_CP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_the_Renewal_Reminder_Checkbox</name>
        <label>Check the Renewal Reminder Checkbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Auto_Renewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Check_the_Renewal_Reminder_Checkbox</name>
        <label>Copy 2 of Check the Renewal Reminder Checkbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Auto_Renewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Daily_Fee</name>
        <label>Set Daily Fee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Term_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DailyFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_is_LP_CP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Monthly_Fee</name>
        <label>Set Monthly Fee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Term_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MonthlyFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_is_LP_CP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Weekly_Fee</name>
        <label>Set Weekly Fee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Term_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WeeklyFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_is_LP_CP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_is_LP_CP</name>
        <label>Check Account is LP / CP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Check_the_Renewal_Reminder_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_LP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Renewal_Reminder_Checkbox</targetReference>
            </connector>
            <label>Account is LP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Fields</name>
        <label>Check Required Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Account_is_LP_CP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Field_Values_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Membership_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Term_Length__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Term_Duration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Term_Duration</targetReference>
            </connector>
            <label>Field Values Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Term_Duration</name>
        <label>Check Term Duration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Account_is_LP_CP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Duration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YEAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>Year</label>
        </rules>
        <rules>
            <name>Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Duration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MONTH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Monthly_Fee</targetReference>
            </connector>
            <label>Month</label>
        </rules>
        <rules>
            <name>Week</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Duration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WEEK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Weekly_Fee</targetReference>
            </connector>
            <label>Week</label>
        </rules>
        <rules>
            <name>Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term_Duration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Daily_Fee</targetReference>
            </connector>
            <label>Day</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DailyFee</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Membership_Type__r.Price__c}/365)*{!$Record.Term_Length__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MonthlyFee</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Membership_Type__r.Price__c}/12)*{!$Record.Term_Length__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>WeeklyFee</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Membership_Type__r.Price__c}/52)*{!$Record.Term_Length__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>YearlyFee</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Membership_Type__r.Price__c}*{!$Record.Term_Length__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Term Fee Value {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Term Fee Value</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Required_Fields</targetReference>
        </connector>
        <filterLogic>1 AND ((2 OR 3) OR (4 OR 5))</filterLogic>
        <filters>
            <field>Membership_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Term_Length__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Term_Duration__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Term_Length__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Term_Duration__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
