force-app/main/default/flows/Update_Grace_Period_Status_In_Membership_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Collection_Account_Ids</name>
        <label>Assign Collection Account Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sAccountIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Account_Ids</name>
        <label>Assign Single Account Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sAccountIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Collection_Account_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_ids</name>
        <label>Assign single ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sMembershipIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_Membership_Records_to_Get_the_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Colletion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_value_to_collection</name>
        <label>Assign Single value to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cMembershipRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sMembershipRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_membership_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_values</name>
        <label>Assign single values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sMembershipRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_the_membership_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sMembershipRecord.Membership_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Grace Period</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_value_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Colletion</name>
        <label>Assign to Colletion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cMembershipIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sMembershipIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_Membership_Records_to_Get_the_Ids</targetReference>
        </connector>
    </assignments>
    <description>This flow will find the membership records whose term end date is passed and the status will be changed to In Grace Period</description>
    <environments>Default</environments>
    <formulas>
        <name>yesterdayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <interviewLabel>Update Grace Period Status In Membership Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Grace Period Status In Membership Record</label>
    <loops>
        <name>Loop_through_the_Accounts</name>
        <label>Loop through the Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Account_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Account_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Queued_Membership_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_the_membership_Records</name>
        <label>Loop through the membership Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Membership_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_single_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Membership_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_the_Membership_Records_to_Get_the_Ids</name>
        <label>Loop through the Membership Records to Get the Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Membership_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_single_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership__c</field>
            <operator>In</operator>
            <value>
                <elementReference>cMembershipIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Membership_Records</name>
        <label>Get Membership Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_Membership_Records_to_Get_the_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Membership_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Membership Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>TermEndDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>yesterdayDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Memberships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queued_Membership_Records</name>
        <label>Get Queued Membership Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_membership_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>cAccountIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Memberships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Membership_Records</name>
        <label>Update Membership Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>cMembershipRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Membership_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-10-04</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>cAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cMembershipIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cMembershipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Memberships__c</objectType>
    </variables>
    <variables>
        <name>sAccountIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sMembershipIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sMembershipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Memberships__c</objectType>
    </variables>
</Flow>
